<!DOCTYPE html>
<html>
<head>
	<title>Craft Information</title>
	<!-- <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="resources/css/custom.css"> -->
</head>
<body>

    <h1> welcome admin</h1>

	<ul>
		<li>
			
			<a href="register.html">Register</a>
		</li>
		<li>
				<a href="login.html">Login</a>
			</li>

			<li>
				<a href="addcraft.html">Add craft</a>	
				</li>


				<li>
					<a href="register.html">Logout</a>	
					</li>
	</ul>























</body>
<!-- <script type="text/javascript" src="resources/js/jquery-3.3.0.min.js"></script>
<script type="text/javascript" src="resources/js/custom.js"></script>
<script type="text/javascript" src="resources/js/bootstrap.js"></script> -->
</html>

