<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- <link type="text/css" href="../resources/fonts/font-awesome/css/all.min.css" rel="stylesheet"> -->
  <link href="../../resources/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

  <link href="../../resources/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
   <link href="../../resources/css/bootstrap.css" rel="stylesheet">
  <link type="text/css" href="../../resources/css/table.css" rel="stylesheet">
</head>

<body>
  <!-- Sidenav -->
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
        aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="../index.html">
        <h2>Craft Info</h2>
       </a>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main"
                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search"
              aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="tables.html">
              <i class="fa fa-list"></i>Craft
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="craftAdd.html">
              <i class="fa fa-list"></i> Add craft
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="user_tables.html">
              <i class="fa fa-list"></i>User
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="feedback.html">
              <i class="fa fa-list"></i>FeedBack
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " onclick="logout('token','id','username','firstName','lastName','email','address');">
              <i class="fa fa-list"></i>Logout
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="craft.html">Craft Add</a>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8  ">
      <div class="container-fluid">
        <div class="header-body">


        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid">
      <!-- Dark table -->
      <div class="row mt-5">
        <div class="col">
          <div>
                <div class="card-header bg-transparent border-0">
                        <h1 style="text-align:center">Add Caft</h3>
                      </div>
                <form id="craftForm" method="POST" enctype="multipart/form-data">
                    <fieldset>
                       
                          <div class="form-group ">
                             <input class="form-control" type="text" id="craftName" name="craftName"
                             placeholder="Craft Name" required>
                          </div>
        
                          <div class="form-group ">
                             <input class="form-control" type="text" placeholder="Craft Description" id="craftDesc"
                             name="craftDesc" required>
                          </div>
        
                          <div class="form-group ">
                             <input class="form-control" type="text" id="craftOrigin" name="craftOrigin"
                             placeholder="Craft Origination" required>
                          </div>
        
        
                          <div class="form-group ">
                             <select name="category" required id="craftType" class="form-control">
                                <option value="type" disabled selected>----Craft Type---</option>
                                <option value="textile">Textile</option>
                                <option value="nonTextile">Non-Textile</option>
                         
                            </select>
                          </div>
        
                          <div class="form-group ">
                             <input class="form-control" type="text" id="craftproduct" name="craftproduct"
                             placeholder="Craft product" required>
                          </div>
        
                          <div class="form-group ">
                             <input class="form-control" type="text" id="craftprice" name="craftprice"
                             placeholder="Craft Price" required>
                          </div>
        
                         
        
                          <div class="form-group ">
                           
                             <input  type="file" id="craftimage" name="craftimage" required>
                          </div>
        
        
                          <button type="submit" class="btn btn-success btn-block">Add</button>
                       </div>
                    </fieldset>
        
                    </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Core -->
  <script src="../../resources/js/jquery-3.4.1.min.js"></script>
  <script src="../../resources/js/bootstrap.js"></script>
  <script src="../../resources/js/craftadmin.js"></script>
  <script type="text/javascript" src="../../resources/js/tokenVerify.js"></script>
  <script type="text/javascript" src="../../resources/js/logout.js"></script>
</body>

</html>