<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/custom.css"> 
	  <link rel="stylesheet" type="text/css" 
	  href="../resources/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
</head>
<body>


	<div class="limiter p-t-100 p-b-100">
     <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                  <div class="card-body">

 <!-- display success message and error in frontend  -->
 <div>
      <p id="message">

      </p>
    
    </div>

                    <h2 class="title">Login Form</h2> 

                    <form id="loginForm"  method= "POST"  enctype="multipart/form-data">

                        <div class="input-group">
                           <span class="input-icon" ><i class="zmdi zmdi-account"></i></span> 
                            <input class="input100" type="text" placeholder="Username" id="username" name="username" required>
                        </div>

                        <div class="input-group">
                                <span class="input-icon" ><i class="zmdi zmdi-lock"></i></span>
                                <input class="input100" type="password" placeholder="Password" id="password" name="password" required>
                              
                        </div>




                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                            <span class="text-center p-l-170">
                                    <a class="txt2" href="register.html">
                                        Create your Account
                                        <i class="zmdi zmdi-arrow-right" aria-hidden="true"></i>
                                    </a>
                                </span> 

                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>

</body>

<script type="text/javascript" src="../resources/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../resources/js/custom.js"></script>
</html>







