<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<!-- <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="../resources/css/main.css">
	  <link rel="stylesheet" type="text/css" href="../resources/css/util.css">
	  <link rel="stylesheet" type="text/css" 
      href="../resources/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
      <link rel="stylesheet" type="text/css" 
      href="../resources/fonts/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>


	<div class="page-wrapper  p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                 <div class="card-body">
                    <h2 class="title">Registration Info</h2>
                    <form method="POST">
                        <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                            <span class="input-icon" ><i class="zmdi zmdi-account"></i></span>
                                     <input class="input100" type="text" placeholder="First Name" name="firstName">
                                    </i>
                                    </div>
                                </div>
    
                                <div class="col-2">
                                    <div class="input-group">
                                            <span class="input-icon" ><i class="zmdi zmdi-account"></i></span>
                                        <input class="input100" type="text" placeholder="Last Name" name="lastName">
                                    </div>
                                </div>
                              
                            </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                        <span class="input-icon" ><i class="zmdi zmdi-email"></i></span>
                                 <input class="input100" type="email" placeholder="Email" name="email">
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                        <span class="input-icon" ><i class="fa fa-address-card"></i></span>
                                    <input class="input100" type="text" placeholder="Address" name="address">
                                </div>
                            </div>
                          
                        </div>

                        <div class="input-group">
                                <span class="input-icon" ><i class="zmdi zmdi-account"></i></span>
                                <input class="input100" type="text" placeholder="Username" name="username">
                        </div>

                        <div class="input-group">
                                <span class="input-icon" ><i class="zmdi zmdi-lock"></i></span>
                                <input class="input100" type="password" placeholder="Password" name="password">
                              
                        </div>

                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" id="submit" name="submit" type="submit">Submit</button>
                            <span class="text-center p-l-170">
                                    <a class="txt2" href="login.html">
                                        Already member!!
                                        <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
                                    </a>
                                </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="../resources/js/jquery-3.3.0.min.js"></script>
<script type="text/javascript" src="../resources/js/custom.js"></script>
<!-- <script src="../resources/js/popper.js"></script> -->


<!-- <script type="text/javascript" src="../resources/js/bootstrap.js"></script> -->
</html>







