<!DOCTYPE html>
<html>

<head>
    <title>Craft Information</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/custom.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/util.css">
    <link rel="stylesheet" type="text/css"
        href="../../resources/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
    <link rel="stylesheet" type="text/css" href="../../resources/fonts/font-awesome/css/font-awesome.css">
</head>

<body>


    <div class="page-wrapper  p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">


                    <h2 class="title">Craft Add</h2>

                    <!-- display success message and error in frontend  -->

                    <p id="message">


                    </p>


                    <form id="craftForm" method="POST" enctype="multipart/form-data">


                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input100" type="text" id="craftName" name="craftName"
                                        placeholder="Craft Name" required>
                                </div>
                            </div>


                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input100" type="text" placeholder="Craft Description" id="craftDesc"
                                        name="craftDesc" required>
                                </div>
                            </div>
                        </div>



                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input100" type="text" id="craftOrigin" name="craftOrigin"
                                        placeholder="Craft Origination" required>
                                </div>
                            </div>




                            <div class="col-2">
                                <div class="input-group">
                                        <select name="category" required id="craftType" class="form-control">
                                            <option value="type" disabled selected>----Craft Type---</option>
                                            <option value="textile">Textile</option>
                                            <option value="nonTextile">Non-Textile</option>
                                     
                                        </select>
                                </div>
                            </div>

                        </div>

                      

                        <div class="col-2">
                            <div class="input-group">
                                <input class="input100" type="text" id="craftproduct" name="craftproduct"
                                    placeholder="Craft product" required>
                            </div>
                        </div>


                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input100" type="text" id="craftprice" name="craftprice"
                                        placeholder="Craft Price" required>
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input100" type="file" id="craftimage" name="craftimage" required>
                                </div>
                            </div>



                        </div>


                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Add</button>


                        </div>






                    </form>
                </div>
            </div>
        </div>
    </div>
    </form>
</body>
<script type="text/javascript" src="../../resources/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/craft.js"></script>

</html>